<div>
  <ul id="projects">
    <%= render @projects %>
  </ul>
</div>


<%#= form_with(model: @project) do |form| %>
<!--  Projects:-->
  <%#= form.label :title %>
  <%#= form.text_field :title %>
  <%#= form.submit :create %>
<%# end %>